{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{%  set __title = 'Mi Dashboard' %}

{% block content %}

    <!-- Info boxes -->
    <div class="row">

        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Intervenciones Iniciadas entre:</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-inline">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputName2">Inicio</label>
                            <input ype="text" class="datepicker" id="exampleInputName2" placeholder="Jane Doe">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Fin</label>
                            <input type="text" class="datepicker" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- /.row -->

    <div class="row">

        {{ render(controller('AppBundle:Estadistica:operacionesPorEquipo')) }}

        {{ render(controller('AppBundle:Estadistica:operacionesPorYacimiento')) }}

        {{ render(controller('AppBundle:Estadistica:promediosCanosHora')) }}

        {{ render(controller('AppBundle:Estadistica:factorTiempoUtil')) }}




    </div><!-- /.row -->
{% endblock %}