{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>

    <script type="application/javascript">

        $(document).ready(function(){


            L.mapbox.accessToken = "{{ mapbox_access_token }}";

            var latlng = L.latLng(-45.866666666667, -67.5);

            var map = L.mapbox.map('map', 'mapbox.streets')
                    .setView(latlng, 4);

            var pozoMarker = null;


            $('.lat-selector').blur(function(){

                latlng.lat = $(this).val();

                if (pozoMarker){
                    pozoMarker.update();
                }else{
                    pozoMarker = new L.marker(latlng).addTo(map);
                }

                map.setView(latlng, 13);
            });

            $('.lng-selector').blur(function(){
                latlng.lng = $(this).val();

                if (pozoMarker){
                    pozoMarker.update();
                }else{
                    pozoMarker = new L.marker(latlng).addTo(map);
                }

                map.setView(latlng, 13);
            });

        });

    </script>

{% endblock %}

{% set __title = 'Nuevo Pozo' %}

{% block content %}
    <div class="box box-default">
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <!-- form start -->
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <input class="btn btn-primary" type="submit" value="Crear"/>
                        <a class="btn btn-default" href="{{ path('pozo_index') }}"> Volver al Listado</a>
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="col-md-6" style="height: 400px">
                    <div id='map' style='width: 90%; height: 90%;'></div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}


