{% extends 'base.html.twig' %}

{% set __title = 'Pozo' %}

{% block content %}
<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ pozo.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ pozo.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Acronimo</th>
                            <td>{{ pozo.acronimo }}</td>
                        </tr>
                        <tr>
                            <th>Profundidad</th>
                            <td>{{ pozo.profundidad }}</td>
                        </tr>
                        <tr>
                            <th>Sistema de extraccion</th>
                            <td>{{ pozo.sistemaExtraccion }}</td>
                        </tr>
                        <tr>
                            <th>Latitud</th>
                            <td>{{ pozo.latitud }}</td>
                        </tr>
                        <tr>
                            <th>Longitud</th>
                            <td>{{ pozo.longitud }}</td>
                        </tr>
                        <tr>
                            <th>Activo</th>
                            <td>{% if pozo.activo %}<span class="label label-success">Si</span{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fecha creación</th>
                            <td>{% if pozo.fechaCreacion %}{{ pozo.fechaCreacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fecha actualización</th>
                            <td>{% if pozo.fechaActualizacion %}{{ pozo.fechaActualizacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Creado Por</th>
                            <td>{% if pozo.creadoPor %}{{ pozo.creadoPor }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Actualizado Por</th>
                            <td>{% if pozo.actualizadoPor %}{{ pozo.actualizadoPor }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('pozo_edit', { 'id': pozo.id }) }}"> Editar</a>
                    <a class="btn btn-default" href="{{ path('pozo_index') }}"> Volver al Listado</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
