{% extends 'base.html.twig' %}

{% block body %}
    <h1>Persona</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ persona.id }}</td>
            </tr>
            <tr>
                <th>Nombrecompleto</th>
                <td>{{ persona.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ persona.apellido }}</td>
            </tr>
            <tr>
                <th>Telefonoprincipal</th>
                <td>{{ persona.telefonoPrincipal }}</td>
            </tr>
            <tr>
                <th>Telefonosecundario</th>
                <td>{{ persona.telefonoSecundario }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ persona.cargo }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if persona.fechaCreacion %}{{ persona.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if persona.fechaActualizacion %}{{ persona.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Creadopor</th>
                <td>{{ persona.creadoPor }}</td>
            </tr>
            <tr>
                <th>Actualizadopor</th>
                <td>{{ persona.actualizadoPor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('persona_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('persona_edit', { 'id': persona.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
